body {

    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(5, 180, 166);
}

#subtrair {

    border-radius: 25px;
    height: 35px;
    width: 20px;
    margin: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: inline-block;
    

}
#Adicionar {

    border-radius: 25px;
    height: 35px;
    width: 20px;
    margin: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: inline-block;
    

}

span {

     border: 2px solid #0c0707;
      margin: 5px;
      padding: 5px 25px 5px 25px;
      font-size: 25px;
      border-radius: 10px;
      background-color: white;
      
      
}

#reset {

    height: 35px;
    width: 200px;
    margin: 15px;
    border-radius: 50px;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    


}



